/* /.cards-FriendColumn{
    display: flex;
}
.UserGiftColumn{
      float: right;
  position: relative; 
  right: 700px;
  top: -1050px;

} */
/* .UserProfileMain{
    display: flex;
} */





.cards-ExploreColumn{
  
    display: flex;
    padding: 50px;
    margin: 5px;
    flex-wrap: wrap;
}
.UserGiftColumn{
    padding: 50px;
    height: 800px;
    width: 105%;
    text-align: center;
    overflow:scroll;
    margin-left: 160%;
    
    
} 

.giftTitle{
    background-color: #eee2dc;
}


.FriendsUserList{
    width: 335px;
}
.cards-FriendColumn{
    padding: 50px;
    height: 900px;
      margin: 15px;
    text-align: center;
 overflow: scroll;
    
}

.userProfile{
    margin-left: 30%;
    margin-top: 18%;
}


.UserProfileMainContainer{
    /* padding-left: 20px;
    padding-top: 50px; */
    display: grid;
    grid-template-columns: 300px 350px 200px;
    text-align: center;
    width: 50vw;
    height: 50vh;
   
}

.UserListContainer{
  
    width: 100vw;
}
.cards-ExploreColumn{
    
    width: 100vw; 
    height: 100vh;
}

.ExploreCard{
    justify-content: center;
 
   margin: 15px;
}

.exploreProfileImg{
    
    width: 20.5vw;
    height: 15vw;
}
