.giftList{
    padding: 16px;
     /* display: flex; */
    /* align-items: center;
    flex-direction: column;
    justify-content: flex-start; */
    display: grid;
    grid-template-columns: 300px 350px 200px;
    text-align: center;
    width: 50vw;
    height: 50vh; 
    
   
}

.giftListColumn{
    padding: 16px;
    height: 250px;
    margin: 5px;
    text-align: center;
    
  /* float: right;
  position: relative; 
  left: 800px;
  top: -350px; */
} 
 .friendListColumn{
    padding: 16px;
    height: 250px;
    margin: 5px;
    text-align: center;
  /* float: right;
  position: relative; 
  left: 800px;
  top: -350px; */
} 

.EventListColumn{
    padding: 16px;
    height: 250px;
    margin: 5px;
    /* float: right;
    position: relative; 
   
    top: -350px; */
} 