/* .FriendCard{
    width: 475px;
    height: 475px;;
    background-color: #F7F4F2;
    align-items: center;
    margin-left: 25%;
    margin-bottom: 22%;
} */


/* .Friends{
    width: 475px;
    height: 475px;
    
    align-items: center;
    margin-left: 25%;
    margin-bottom: 22%;
} */
